@import url('https://fonts.googleapis.com/css?family=Tangerine|Roboto|Montserrat|Roboto+Condensed|Oswald');



html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #19a8a3;

}


body {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: lighter;
    background-color: #49A6AD;
}

img.doc{
    border-radius: 45px;
    object-fit: cover;
    position: relative;
    height: 128;
    width 96;
    text-align: center;
    object-position: center;
    margin-left: ;
    
    
}

.content {
    width: 94%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    padding-bottom: 10px;
}

.contentDoc {
    width: 94%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 10px;
}

.center {
    text-align: center;
}

.centerTitulo {
    font-family: 'Montserrat';
    text-align: center;
    font-weight: lighter;
    font-size: 48px;
    margin: 1em auto;
    width: 94%;
    background-color: #6BF5FF;
    border-radius: 30px;


}

.centerTituloBold {
    font-family: 'Montserrat';
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    margin: 1em auto;
    width: 94%;
    background-color: #6BF5FF;
    border-radius: 30px;


}

.centerTituloTacto {
    font-family: 'Oswald';
    text-align: center;
    font-weight: lighter;
    font-size: 42px;
    margin: 1em auto;
    width: 94%;
    background-color: #6BF5FF;
    border-radius: 30px;
}

article {
    background-color: #79DAE0;
    margin: 0.5em auto;
    border-radius: 50px;
    padding: 30px;
    width: 100%;

}

.contactus {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 30px;
    margin: 1em auto;
    padding: 1px;
}

img.relacion {
    height: 800px;
    width: 1200px;
    object-fit: cover;
    position: relative;
}

